<div class ="side-bar-header">
  <a href="#" class ="username">SHOGO</a>
  <a href="#" class="room-create">チャットを作成する</a>
</div>

<div class ="rooms">
 <div class ="room">room1</div>
 <div class ="room">room2</div>
</div>